
.linkToolbar {
  background-color: var(--light4);
  height: 60px;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: x-large;
  padding-top: 20px;
}