:root
{
    --accent1: #FEC89A;
    --accent2: #FEC5BB;
    --light0: #F8EDEB;
    --light1: #FCD5CE;
    --light2: #FAE1DD;
    --light3: #E8E8E4;
    --light4: #D8E2DC;
    --light5: #ECE4DB;
    --light6: #FFE5D9;
    --light7: #FFD7BA;
}